<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Siddhi-Io-MgwFile-Test-Suite">
    <test name="Siddhi-io-mgwfile-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.extension.siddhi.io.mgwfile.sink.TestCaseOfMgwFileSink"/>
            <class name="org.wso2.extension.siddhi.io.mgwfile.source.TestCaseOfMgwFileSource"/>
        </classes>
    </test>
</suite>